td{
font-size: 20px;
color: #080a65;
padding: 10px;
}
body{
margin-left: 1em;
}
h6{
color: orange;
text-align: center;
font-style: oblique;
font-size: 35px;
}
input{
border-radius: 10px 0px 10px 0px;
font-size: 20px;
color: black;
background-color: white;
}
input[type="submit"]{
border-radius: 10px 0px 10px 0px;
font-size: 20px;
color: #3f51b5;
background-color: #ffeb3b;
}
